/* Scroll fino */
.custom-scroll::-webkit-scrollbar { width: 8px; }
.custom-scroll::-webkit-scrollbar-thumb { background-color: rgba(100, 100, 100, 0.25); border-radius: 4px; }
.custom-scroll:hover::-webkit-scrollbar-thumb { background-color: rgba(100, 100, 100, 0.4); }

/* Íconos alineados */
.icon-sm { font-size: 16px !important; vertical-align: middle; position: relative; top: -1px; }

/* Base */
:host { display: block; height: 100%; overflow: hidden; }
input, textarea { outline: none; }
